<div class="container">
    <div class="row no-gutters">
        <div class="form-box col-4">
            <div class="left-body col-6 col-md-4 left-body">
                <!-- Section: Sidebar -->
                <section>

                    <!-- Section: Categories -->
                    <section>

                        <h5>Brands</h5>

                        <div class="text-muted small text-uppercase mb-5">
                            <p class="mb-3"><a href="/product/Vichy" class="card-link-secondary">Vichy</a></p>
                            <p class="mb-3"><a href="/product/the ordenary" class="card-link-secondary">The ordernary</a></p>
                            <p class="mb-3"><a href="/product/Obagi" class="card-link-secondary">Obagi</a></p>
                            <p class="mb-3"><a href="/product/Some by mi" class="card-link-secondary">Some by mi</a></p>
                        </div>

                    </section>
                    <!-- Section: Categories -->

                    <!-- Section: Filters -->
                    <!-- Section: Search Box -->
                    <section class="mb-4">

                        <div class="md-form md-outline mt-0 d-flex justify-content-between align-items-center">
                            <input type="text" id="search12" class="form-control mb-0" placeholder="Search...">
                            <a href="#!" class="btn btn-flat btn-md px-3 waves-effect"><i
                                    class="fas fa-search fa-lg"></i></a>
                        </div>

                    </section>
                    <!-- Section: Search Box -->

                    <!-- Section: Condition -->

                    <!-- Section: Average -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Evaluate</h6>

                        <a href="#!">
                            <ul class="rating">
                                <li>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm text-primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm text-primary"></i>
                                </li>
                                <li>
                                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                                </li>
                            </ul>
                        </a>
                    </section>
                    <!-- Section: Average -->

                    <!-- Section: Price -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Price</h6>

                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="under25" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="under25">Under
                                $25</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="2550" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="2550">$25 to
                                $50</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="50100" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="50100">$50 to
                                $100</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="100200" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="100200">$100
                                to $200</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="200above" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="200above">$200
                                & Above</label>
                        </div>
                        <form>
                            <div class="d-flex align-items-center mt-4 pb-1">
                                <div class="md-form md-outline my-0">
                                    <input id="from" type="text" class="form-control mb-0">
                                    <label for="form">$ Min</label>
                                </div>
                                <p class="px-2 mb-0 text-muted"> - </p>
                                <div class="md-form md-outline my-0">
                                    <input id="to" type="text" class="form-control mb-0">
                                    <label for="to">$ Max</label>
                                </div>
                            </div>
                        </form>

                    </section>
                    <!-- Section: Price -->

                    <!-- Section: Price version 2 -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Price</h6>

                        <div class="slider-price d-flex align-items-center my-4">
                            <span class="font-weight-normal small text-muted mr-2">$0</span>
                            <form class="multi-range-field w-100 mb-1">
                                <input id="multi" class="multi-range" type="range" />
                            </form>
                            <span class="font-weight-normal small text-muted ml-2">$100</span>
                        </div>

                    </section>
                    <!-- Section: Price version 2 -->
                </section>
                <!-- Section: Filters -->

                </section>
                <!-- Section: Sidebar -->
            </div>
            <script>
                $('#multi').mdbRange({
                    single: {
                        active: true,
                        multi: {
                            active: true,
                            rangeLength: 1
                        },
                    }
                });
            </script>
        </div>
        <div class="col-8">
            {{#each products}}
            <div class="">
                <div class="card">
                    <img class="card-img-top"
                        src="{{this.picture}}"
                        alt="Card image top">
                    <div class="card-body">
                        <h3 class="card-title">{{this.name}}</h3>
                        <a href="#" class="card-link">{{this.brand}}</a>   
                        <p class="card-text">{{this.description}}</p>
                        <a href="/product/{{this.code}}/detail" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>